.addUpdateDelCard {
	background: rgb(244, 244, 244);
	background: linear-gradient(170deg, rgba(250, 250, 250, 1) 0%, rgba(231, 231, 231, 1) 75%, rgba(215, 215, 215, 1) 100%);
	max-width: 1024px;
	border-width: 2px !important;
	box-shadow: 7px 7px 16px -2px rgba(0, 0, 0, 0.75);
	margin: auto;
}

.addUpdateDelCard .card-title {
	font-size: 175%;
	margin: 0.5em 0;
}

.addUpdateDelCard .card-img-top {
	background: #ccc;
	margin: auto;
	width: 96px !important;
	height: 96px;
	border: 2px inset #888;
	border-radius: 0 !important;
}

.addUpdateDelCard button:first-of-type {
	margin-right: 2em;
}

.addUpdateDelCard button:nth-of-type(3) {
	margin-left: 2em;
}

.form-wrapper {
	width: 100%;
	height: 100vh;
	margin: 0;
	background-size: contain;
	background-image: url(https://images.unsplash.com/photo-1618613403887-ed08ea9f8f6e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTY3fHxjb25jZXJ0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
	padding: 20px;
}

.form-image {
	border-radius: 10px !important;
	height: 150px !important;
	width: auto;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	border: none !important;
}

@media screen and (min-width: 260px) and (max-width: 767px) {
	.addUpdateDelCard {
		width: 90vw !important;
	}
}